:root {
	font-size: 18px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont,
            'avenir next', avenir,
            helvetica, 'helvetica neue',
            ubuntu,
            roboto, noto,
            'segoe ui', arial,
            sans-serif;

	font-weight: lighter;
	font-size: 1rem;
	color: #111;
	line-height: 1.6;
}

#wrapper {
	max-width: 720px;
	margin: 4em auto;
}

#address {
	color: blue;
}

input {
	border: 5px solid #222;
	padding: 0.5em;
	font-size: 1rem;
	margin: 0.5em 0;
	min-width: 120px;
	outline: none !important;
}

.inp {
	width: 15em;
}

input:active {
	outline: none;
}

#button {
	cursor: pointer;
}

h3 {
	font-size: 1.2rem;
	font-weight: lighter !important;
}

hr {
	height: 3px;
	border: none;
	background: #222;
}

#history {
	width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: lighter;
}

td {
	padding: 0.5em;
}

a {
	color: blue;
}