<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta id="privateKey" data="{{ privateKey }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Coil Wallet</title>
	<link href="css/index.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		<h1>Wallet</h1>

		<div id="qrcode"></div>

		<h3><a href="/transaction">New Transaction</a></h3>
		
		<hr>

		<h3>Your address: <span id="address">{{ address }}</span></h3>
		<h3>Your balance: <span id="balance">{{ balance }} COL</span></h3>

		<hr>

		<h2>History</h2>
		<div id="old-transactions">
			<table id="history">
				<tr>
					<th>Type</th>
					<th>Address</th>
					<th>Amount</th>
				</tr>
				{% for item in history %}
					{% if item.from %}
					<tr>
						<th>From</th>
						<th>{{ item.from }}</th>
						<th><span style="color: green">{{ item.amount }}</span></th>
					</tr>
					{% else %}
					<tr>
						<th>To</th>
						<th>{{ item.to }}</th>
						<th><span style="color: red">-{{ item.amount }}</span></th>
					</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
	<script type="text/javascript" src="/eel.js"></script>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/qrcode.min.js"></script>
	<script>
		// var qrcode = new QRCode(document.getElementById("qrcode"), {
		//     text: $("#address").html(),
		//     width: 128,
		//     height: 128,
		//     colorDark : "#000000",
		//     colorLight : "#ffffff",
		//     correctLevel : QRCode.CorrectLevel.H
		// });
	</script>
</body>
</html>